/*GLOBALES*/

h1{
  color: #04cac2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
  position: absolute;
  top: 200px;
  left: 360px;

  
}

h5{
  color: #7b8a4b;
  margin-bottom: 15px;
}

label{
  color: black;
}